body {
  margin: 0;
  overflow: hidden; }

#loading {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2000; }

#ui {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: .8; }

.hidden {
  animation: hide 1s forwards; }

@keyframes hide {
  0% {
    opacity: .9;
    visibility: visible; }
  99% {
    opacity: 0;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
.show {
  animation: show 1s forwards; }

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: .9;
    visibility: visible; } }
.cover {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: .7;
  position: absolute; }

.kanji {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 80vh;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: .4;
  animation: glow 3s infinite alternate ease-in-out; }

@keyframes glow {
  0% {
    opacity: .4; }
  100% {
    opacity: .9; } }
.main {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2001;
  margin: 0;
  text-align: center;
  white-space: nowrap; }
  .main h1 {
    font-family: "Didot-Bold";
    font-size: 5.5em;
    color: white;
    margin: 0; }
  .main h2 {
    font-family: "Tungsten";
    font-size: 2em;
    color: white;
    margin: 0;
    font-weight: 500; }

.subhead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-bottom: 5%; }
  .subhead .line {
    flex-grow: 1;
    background-color: white;
    height: 1px;
    width: 100px; }
  .subhead h1, .subhead h2 {
    font-family: "Tungsten";
    font-size: 2em;
    font-weight: 500;
    color: white;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px; }

.wrapper {
  z-index: 2000;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%; }
  .wrapper .background-kanji {
    z-index: -1;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 150%;
    opacity: .6; }
  .wrapper .title {
    font-family: "Didot";
    font-size: 4.5em;
    color: white;
    z-index: 2001;
    margin: 0;
    margin-bottom: 3%;
    text-align: center;
    white-space: nowrap; }
  .wrapper .clips {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .wrapper .clips img {
      margin: 0;
      margin-right: 5px;
      width: 49%; }
  .wrapper p {
    text-align: center;
    font-family: "Rajdhani";
    font-weight: lighter;
    color: white;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    margin-bottom: 5%;
    max-width: 75%; }
  .wrapper .close {
    font-family: "Rajdhani";
    margin: auto;
    font-size: 1.5em;
    transition: all .4s ease;
    color: white;
    text-align: center;
    display: block; }
  .wrapper .close:hover {
    color: red;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
